<script src="//cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>

<form method="<%= (direccion=='update')?'put':'post' %>" action="/entrada/<%= direccion %>" enctype="multipart/form-data">
  <% if (direccion == 'update') { %>
    <input name="id" value="<%= entrada.id %>" hidden="true" required>
  <% } %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input name="titulo" type="text" class="mdl-textfield__input" value="<%= (direccion=='update')?entrada.titulo:'\r' %>" required>
    <label class="mdl-textfield__label" for="sample3">Titulo...</label>
  </div>
  <br>

  <div class="mdl-textfield mdl-js-textfield">
    <textarea name="resumen" class="mdl-textfield__input" type="text" rows="3" id="sample5">
      <%= (direccion=='update')?entrada.resumen: "\r" %>
    </textarea>
    <label class="mdl-textfield__label" for="sample5">Resumen...</label>
  </div>
  <br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input name="fondo" type="file" class="mdl-textfield__input" value="<%= (direccion=='update')?entrada.fondo:'' %>" required>
    <label class="mdl-textfield__label" for="sample3">Imagen de fondo...</label>
  </div>
  <br>

  <div>
    <label class="control-label col-sm-2">Publicación</label>
    <textarea name="cuerpo" rows="10" cols="100" required id="editor1">
      <%= (direccion=='update')? entrada.cuerpo : "\r" %>
    </textarea>
    <script type="text/javascript">
      //CKEDITOR. Set the number of languages.
      var count = document.getElementById('count');
      if (count) {
        count.innerHTML = window.CKEDITOR_LANGS.length;
      }

      var editor;
      function createEditor(languageCode) {
        if (editor)
          editor.destroy();

        // Replace the <textarea id="editor1"> with an CKEditor instance, using default configurations.
        editor = CKEDITOR.replace('editor1', {
          language: languageCode
        });
      }

      // At page startup, load the default language:
      createEditor('');
    </script>
  </div>

  <% for (var i = 0; i < categorias.length; i++) { %>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-<%= i %>">
      <input type="radio" id="option-<%= i %>" class="mdl-radio__button" name="categoria_entrada_ref" value="<%= categorias[i].id %>">
      <span class="mdl-radio__label">
        <%= categorias[i].nombre_categoria %>
      </span>
    </label>
  <% } %>

  <input type='hidden' name='_csrf' value='<%= _csrf %>'>
  <br>

  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Publicar</button>
</form>
