<div class="container">
  <div class="col l4 col m12 col s12">
    <!-- vertical News Box -->
    <div class="news vertical z-depth-1">
      <!-- vertical News Image -->
      <div class="news-image">
        <img class="responsive-img" src="<%= entrada.fondo %>" alt="news Image">
      </div>
      <!-- vertical News Description -->
      <div class="news-description">
        <div class="news-time">
          <i class="fa fa-clock-o"></i>
          <%= entrada.createdAt %>

          <% if (entrada.createdAt != entrada.updatedAt) { %>
            Actualizado hace
            <%= entrada.createdAt %>
          <% } %>
        </div>
        <div class="news-title">
          <a href="javascript:void(0)">
            <%= entrada.titulo %>
          </a>
        </div>
        <div class="news-content">
          <p>
            <%- entrada.cuerpo %>
          </p>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</div>
