<div class="page-header">
  <h2>
    <%= usuario.nombres %>
    <%= usuario.apellidos %>
    <small><%= usuario.nick %></small>
  </h2>
</div>

<ul class="list-group">
  <li class="list-group-item">
    Tienes
    <%= entradas.length %>
    publicaciones
    <span class="badge"><%= entradas.length %></span>
    <br>
    <br>
    <div class="btn-group" role="group" aria-label="opciones">
      <a type="button" class="btn btn-success">Publicar</a>
      <a type="button" class="btn btn-default">Informacion</a>
    </div>
  </li>
</ul>

<h2 class="sub-header">Mis publicaciones</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Titulo</th>
        <th>Categoria</th>
        <th>Creación</th>
        <th>Actualizado</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < entradas.length; i++) { %>
        <tr>
          <td>
            <%= (i+1)  %>
          </td>
          <td>
            <%= entradas[i].titulo %>
          </td>
          <td>
            <%= entradas[i].categoria_entrada_ref.nombre_categoria %>
          </td>
          <td>
            <%= entradas[i].createdAt %>
          </td>
          <td>
            <%= entradas[i].updatedAt %>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="opciones">
              <a href="/entrada/showOne/<%= entradas[i].id %>" type="button" class="btn btn-default">Ver</a>
              <a href="/entrada/showOne/<%= entradas[i].id %>" type="button" class="btn btn-default">Editar</a>
              <a href="/entrada/showOne/<%= entradas[i].id %>" type="button" class="btn btn-danger">Eliminar</a>
              <a href="/entrada/showOne/<%= entradas[i].id %>" type="button" class="btn btn-info">Ocultar</a>
            </div>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
