<!-- NAVBAR
================================================== -->
<div class="container">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0px;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.jssor.com/index.html">Bootstrap Slider</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="http://www.jssor.com/index.html">Home</a>
          </li>
          <li>
            <a href="http://www.jssor.com/slider-maker/index.html">Slider Maker</a>
          </li>
          <li>
            <a href="http://www.jssor.com/demos/index.html">Demos</a>
          </li>
          <li>
            <a href="http://www.jssor.com/skins/index.html">Skins</a>
          </li>
          <li>
            <a href="http://www.jssor.com/development/index.html">Development</a>
          </li>
          <li>
            <a href="http://www.jssor.com/download.html">Download</a>
          </li>
          <li>
            <a href="http://www.jssor.com/support.html">Support</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div ng-controller="CtrlPerfil" class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <h2 class="sub-header">
        <h2>
          Bienvenido,
          <%= usuario.nombres %>
          <%= usuario.apellidos %>
          <br>
          <small>
            <%= usuario.nick %>
          </small>
        </h2>
      </h2>
    </li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item">
      <h2>Información</h2>
    </li>
    <li class="list-group-item">
      Tienes
      <strong>
        <%= entradas.length %>
      </strong>
      publicaciones activas
      <span class="badge"><%= entradas.length %></span>
    </li>
    <li class="list-group-item">
      <strong>
        <%= entradas.length %>
      </strong>
      publicaciones ocultas
      <span class="badge"><%= entradas.length %></span>
    </li>
    <li class="list-group-item">
      <div class="btn-group" role="group" aria-label="opciones">
        <a href="/entrada/nuevo" type="button" class="btn btn-success">Publicar</a>
        <a href="/entrada" type="button" class="btn btn-success">Menú principal</a>
        <a href="/usuario/signout" type="button" class="btn btn-danger">Cerrar sesion</a>
      </div>
    </li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item">
      <h2 class="sub-header">Mis publicaciones</h2>
    </li>
    <li class="list-group-item">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Titulo</th>
              <th>Categoria</th>
              <th>Creado</th>
              <th>Actualizado</th>
            </tr>
          </thead>
          <tbody>
            <% for (var i = 0; i < entradas.length; i++) { %>
              <tr>
                <td>
                  <%= (i+1)  %>
                </td>
                <td>
                  <%= entradas[i].titulo %>
                </td>
                <td>
                  <%= entradas[i].categoria_entrada_ref.nombre_categoria %>
                </td>
                <td>
                  <%= entradas[i].createdAt %>
                </td>
                <td>
                  <%= entradas[i].updatedAt %>
                </td>
                <td>
                  <div class="btn-group" role="group" aria-label="opciones">
                    <a href="/entrada/showOne/<%= entradas[i].id %>" type="button" class="btn btn-success">Ver</a>
                    <a href="/entrada/showOne/<%= entradas[i].id %>" type="button" class="btn btn-success">Editar</a>
                    <% if(entradas[i].oculto) { %>
                      <a href="/entrada/ocultar/<%= entradas[i].id %>" type="button" class="btn btn-warning">Desocultar</a>
                    <% } else { %>
                      <a href="/entrada/ocultar/<%= entradas[i].id %>" type="button" class="btn btn-warning">Ocultar</a>
                    <% } %>
                    <a href="/entrada/showOne/<%= entradas[i].id %>" type="button" class="btn btn-danger">Eliminar</a>
                  </div>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </li>
</ul>
