<% if (flash && flash.err) { %>
  <p>
    <div class="alert alert-warning" role="alert">
      <% Object.keys(flash.err).forEach(function (error) { %>
        <%= JSON.stringify(flash.err[error]) %>
      <% }) %>
    </div>
  </p>
<% } %>

<center>
  <form class="form-signin" action="/usuario/login" method="post" style="width: 40%">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">
      <%= __('Email')%>
    </label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">
      <%= __('Contrasenia') %>
    </label>
    <input type="password" name="contrasenia" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me">
        <%= __('Recordar') %>
      </label>
    </div>
    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
    <button class="btn btn-lg btn-primary btn-block active" type="submit">
      <%= __('LoginButton') %>
    </button>
  </form>
</center>
