<div class="wrapper grey-background">
  <div class="container">
    <div class="row">
      <div class="col l12 col m12 col s12 center-align">
        <!-- Breadcrumb -->
        <div class="breadcrumb">
          <a href="/">Home</a>
          <i class="fa fa-angle-right"></i>
          <%= __('Login') %>
          <div class="page-title">
            <%= __('Login') %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col l12 col m12 col s12">
        <div class="login-page z-depth-1">
          <div class="col l4 col m6 col s12 offset-l4 offset-m3">
            <% if (flash && flash.err) { %>
              <p>
                <ul class="collection">
                  <% Object.keys(flash.err).forEach(function (error) { %>
                    <li class="collection-item">
                      <%= JSON.stringify(flash.err[error]) %>
                    </li>
                  <% }) %>
                </ul>
              </p>
            <% } %>
            <div class="login-title">
              <%= __('BienvenidaLogin') %>
              <%= __('Nombre') %>
            </div>
            <form action="/usuario/login" method="post">
              <div class="input-field">
                <i class="mdi-action-perm-identity prefix"></i>
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">
                  <%= __('Email') %>
                </label>
              </div>
              <div class="input-field">
                <i class="mdi-action-lock-open prefix"></i>
                <input id="name" name="contrasenia" type="password" class="validate" required>
                <label for="name">
                  <%= __('Contrasenia') %>
                </label>
              </div>
              <input type='hidden' name='_csrf' value='<%= _csrf %>'>
              <div class="forgot-password left">
                <a href="javascript:void(0);">
                  <%= __('ContraseniaOlvidada') %>
                </a>
                <br>
                <a href="/usuario/register">
                  <%= __('NoRegistrado') %>
                </a>
              </div>
              <button name="action" type="submit" class="btn btn-flat waves-effect waves-light shopping-cart-button right" onclick="Materialize.toast('<span>Login Successful</span><a class=&quot;btn-flat yellow-text&quot; href=&quot;#!&quot;><a>', 5000)">
                <%= __('LoginButton') %></button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
